.bigger-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 20vh;
    height: 10vh;
    background-color: coral;
    font-size: x-large;
    color: azure;
    border-radius: 5vh;
    padding: 5%;
    margin: 20px;
}

h2 {
   font-size: xx-large
}

img {
    display: flex;
    padding-bottom: 3vh;
    width: 35vh;
    height: auto;
}

.bigger-input {
    width: auto;
    height: 5vh;
    font-size: larger;
    border-radius: 5vh;
    text-align: center;
}

#goal-text-box {
    border-color: coral;
    background-color: azure;
}

#goal-submit-button {
    background-color: coral;
    color: azure;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
}

.goal-card {
    background-color: coral;
    width: 250px;
    margin: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5vh;
    font-size: larger;
}

.btns-container > button {
    border-radius: 5vh;
    font-size: larger;
    margin-bottom: 1vh;
}

p.goal {
    font-size: 150%;
    text-align: center;
}